<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SearchString.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SearchString.Properties.Settings>
            <setting name="FilePath" serializeAs="String">
                <value>D:\DB\txt</value>
            </setting>
            <setting name="ConnStr" serializeAs="String">
                <value>Data Source=localhost\SQLEXPRESS;Initial Catalog=MM;Integrated Security=True</value>
            </setting>
            <setting name="FileDepth" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TheadNum" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>D:\Temp\log.txt</value>
            </setting>
            <setting name="ResultPath" serializeAs="String">
                <value>D:\Temp\Result</value>
            </setting>
            <setting name="StringFilePath" serializeAs="String">
                <value>D:\Temp\FindString.txt</value>
            </setting>
        </SearchString.Properties.Settings>
    </applicationSettings>
</configuration>